#content-container.obscured {
	overflow: hidden;
	height: 100vh;
}
header {
	margin-top: 3.5rem;
}
main {
	padding-bottom: 3rem;
}
#style-switch {
	background-color: #444;
	padding: .75rem;
	padding-bottom: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 3.5rem;
	box-shadow: 0 0 5px #111;
}
#style-switch:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(90deg, #1D5688, #5A9A83 50%, #EDAC29);
	height: 4px;
	display: block;
}
#style-switch span {
	color: #FCFCFC;
	font-size: .9rem;
}
#style-links a {
	color: #FCFCFC;
	margin-right: .5rem;
	font-size: .9rem;
	text-decoration: none;
	border: 1px solid #FCFCFC;
	border-radius: 6px;
	padding: .3rem .5rem;
	transition: color .25s, border-color .25s;
}
#style-links a:hover {
	color: #DCDCDC;
	border-color: #DCDCDC;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	overflow: auto;
}
.modal {
	position: absolute;
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem;
	background-color: #FFF;
}
.modal h2 {
	text-align: center;
}
.hidden {
	display: none !important;
}
iframe {
	width: 100%;
	border: none;
	padding: 0;
	height: auto;
}
form input:focus, form select:focus {
	outline: none;
}
#receipt-modal p {
	text-align: center;
}
#error-message {
	font-weight: bold;
	color: #FFF;
	font-size: .9rem;
	padding: 1rem;
	background-color: #c94c3c;
}
.header-title {
	font-weight: bold;
}
#info-modal-open {
	padding: .3rem .5rem;
	font-size: .8rem;
	border-radius: 4px;
	margin-left: 1rem;
	background-color: #FCFCFC;
	transition: background-color .25s;
}
#info-modal-open:hover {
	background-color: #DCDCDC;
}
.test-card-list {
	list-style-type: none;
}
.test-card-list li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1.5rem 0;
	border-bottom: 1px solid #CCC;
}
.test-card-list li:last-child {
	border: none;
}
.test-card-list li img {
	width: 45px;
	margin-right: 2rem;
}
.test-card-list li .test-card-number {
	font-family: monospace;
	font-size: 1.1rem;
	display: block;
	margin-bottom: .5rem;
}
.test-card-list li .test-card-details {
	font-size: .9rem;
}
.test-card-list li .test-card-details span {
	margin-right: 1rem;
}
.invalid-field {
	border: 1px solid #c94c3c;
}
#info-modal {
	padding: 2rem;
}
#info-modal p {
	margin: 1.5rem 0;
}
#info-modal p a {
	text-decoration: none;
	border-bottom: 1px solid #1d5688;
	color: #1d5688;
}
#info-modal-close, #receipt-modal-close {
	float: right;
	margin-right: -1rem;
	margin-top: -1rem;
	padding: .5rem;
	cursor: pointer;
}
@media screen and (max-width: 1000px) {
	#style-switch {
		flex-direction: column;
		justify-content: center;
		height: 4.5rem;
	}
	header {
		margin-top: 4.5rem;
	}
	#style-links {
		margin-top: .5rem;
	}
	#style-links a {
		font-size: .8rem;
	}
	#info-modal-open {
		padding: .15rem .3rem;
	}
	.modal {
		top: 5rem;
		left: 10%;
		transform: translateX(-5%);
		padding: 1rem;
		background-color: #FFF;
	}
	.test-card-list li .test-card-number {
		font-size: .9rem;
	}
}