#monetra-payment-form {
	font-family: 'Roboto', sans-serif;
}
form {
	grid-gap: .7rem;
	padding: 0;
}
label {
	border-radius: 0;
	border: none;
	border-top: none;
}
.payment-form-label span svg {
	display: none;
}
.payment-form-label {
	flex-direction: row;
	align-items: center;
	padding: 0;
}
.payment-form-label span {
	order: -1;
	display: block;
	padding-right: 1rem;
	font-size: .8rem;
	color: #56697a;
	min-width: 7rem;
	width: 100%;
	text-align: right;
}
#payment-expdate-label span:before {
	content: 'Exp. Date';
}
#payment-account-label span:before {
	content: 'Card Number';
}
#payment-expdate-label span:before {
	content: 'Exp. Date';
}
#payment-cv-label span:before {
	content: 'CV';
}
label input, label select {
	padding: .8rem .5rem;
	font-size: .9rem;
	flex-grow: 1;
	border: 1px solid #CCC;
}
#payment-account-label {
	order: -1;
}
#payment-cv-label {
	grid-column: 1 / span 2;
}
#payment-zip-label span:before {
	content: "Zip Code";
}
#payment-zip-label {
	grid-column: auto / span 2;
}
#payment-cardholdername-label {
	order: -2;
}
