* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	min-height: 100vh;
}
header {
	padding: 1.25rem 0;
	border-bottom: 1px solid #EDEDED;
	background-color: #FCFCFC;
}
h1, h2 {
	color: #819c88;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 1.4rem;
	text-align: center;
}
h2 {
	font-size: 1.2rem;
	padding: .5rem;
}
main {
	flex-grow: 1;
	background-color: #FCFCFC;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 3rem;
}
#iframe-container {
	font-family: sans-serif;
}
#payment-info {
	min-width: 40vw;
	padding: 1rem;
	margin-left: 5rem;
}
#order-item-list {
	list-style-type: none;
}
#order-item-list li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	padding-left: .5rem;
	padding-right: 0;
	border-bottom: 1px solid #DEDEDE;
}
#order-item-list li>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#order-item-list h3 {
	font-size: 1rem;
	margin-bottom: .3rem;
}
#order-item-list h4 {
	font-weight: 400;
	font-size: .9rem;
	margin-bottom: .3rem;
	color: #777;
}
#order-item-list span {
	display: block;
	font-size: .8rem;
	margin-bottom: .2rem;
}
#order-item-list span.unit-price {
	color: #555;
}
#order-item-list span.total-price {
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 1rem;
	color: #555;
}
#order-item-list img {
	margin-right: 1.5rem;
}
.order-amounts {
	margin-top: .7rem;
	margin-bottom: 2rem;
}
.order-amounts span {
	font-size: .9rem;
	font-weight: bold;
	text-align: right;
	display: block;
	padding: .4rem 0;
	color: #555;
}
#order-total-price {
	font-size: 1.2rem;
	color: #333;
	margin-top: .75rem;
}
form {
	padding: .5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 0;
}
form label {
	grid-column: auto / span 12;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #EDEDED;
	transition: box-shadow .25s, border-color .25s;
	border-bottom: none;
	background-color: #FFFFFF;
}
#state-label, #zip-label {
	grid-column: auto / span 4;
	border-bottom: 1px solid #EDEDED;
	border-right: none;
}
#country-label {
	grid-column: auto / span 4;
	border-bottom: 1px solid #EDEDED;
}
form label span {
	padding: .8rem .5rem;
	font-size: .9rem;
	color: #888;
}
form input {
	padding: .8rem .5rem;
	flex-grow: 1;
	font-size: .9rem;
	background-color: transparent;
	border: none;
}
button {
	padding: .75rem 1rem;
	font-size: 1rem;
	background-color: #DDD;
	border: none;
	cursor: pointer;
}
#submit-button-container {
	position: relative;
	margin: .5rem;
}
#submit-button {
	margin: 0;
	border-radius: 4px;
	display: block;
	padding: 1rem 2rem;
	background-color: #819c88;
	color: #FFF;
	font-family: 'Lora', sans-serif;
	font-size: 1.2rem;
	width: 100%;
	transition: background-color .25s;
}
#submit-button:hover {
	background-color: #4f6354;
}
#submit-button:disabled {
	background-color: #b1c4b6;
	cursor: default;
}
#submit-button:disabled:hover {
	background-color: #b1c4b6;
}
@media (max-width: 1000px) {
	main {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
	#payment-info {
		margin: 1rem;
		padding: 0;
	}
	#order-total-price {
		text-align: center;
	}
	#order-info {
		margin: 0 1rem;
	}
	#state-label, #zip-label, #country-label {
		grid-column: auto / span 12;
	}
	#state-label {
		border-right: 1px solid #EDEDED;
		border-bottom: none;
	}
}
